.spinner-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner-background ::ng-deep .mdc-circular-progress__indeterminate-container circle,
.spinner-background ::ng-deep .mdc-circular-progress__circle-clipper circle {
  stroke: #25ff49 !important;
}
